beautifulsoup4==4.12.3
celery==5.3.6
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-iconify==0.1.2
dash-mantine-components==0.12.1
Flask==2.3.3
Flask-Admin==1.6.1
Flask-Caching==2.0.2
Flask-CeleryExt==0.5.0
Flask-Login==0.6.3
Flask-Security==3.0.0
Flask-Session==0.5.0
Flask-SQLAlchemy==3.1.1
flower==2.0.1
gunicorn==21.2.0
google-search-results==2.4.2
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.26.4
openai>=1.0.0,<2.0.0
pandas==2.2.2
pydantic==1.10.15
redis==5.0.4
requests==2.32.3
transformers==4.41.2
Werkzeug==2.3.8
lxml==5.2.2
lxml_html_clean==0.2.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-extensions==0.1.13
pydantic==1.10.15